.navigationBarDiv{
    width: 450px;
    height:100px;
    top:80px;
    position: relative;
}
.classifyNavigation{
    top:0;
    left:66px;
    position: absolute;
}
.infoNavigation{
    top:0;
    left:250px;
    position: absolute;
}