.navigationBarDiv{
    width: 500px;
    height:100px;
    top:80px;
    position: relative;
}
.classifyNavigation{
    top:0px;
    left:40px;
    position: absolute;
}
.infoNavigation{
    top:0px;
    left:40px;
    position: absolute;
}